.navbar-brand{
margin-top: 0PX;

}
* {
  box-sizing: border-box;
}
#header-nav{
  background-color: YELLOW;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
* {
  box-sizing: border-box;
}


section {
  border: 1px solid black;
  background-color: #607d8b;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  margin-bottom:40px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}


.navbar-collapse.collapse {
  padding-bottom:10px;
}
